body {
  width: 80%;
  margin: 0 auto;
  border: 3px solid red;

  h1 {
    font-family: Tahoma, "sans-serif";
    font-size: 2rem;
  }

  p {
    margin-bottom: 3rem;
    padding: 1rem;
    border: 1px dashed teal;
  }
}

